<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${authorName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 style="font-size:14pt" th:text="${authorName}"></h1>
<hr>
<ul>
    <li th:each="song : ${songs}">
        <a th:href="@{{uri} (uri = ${song.getUri()})}"
           th:text="${song.getName()}"></a>
    </li>
</ul>
<hr>
<div>
    Original content is taken from <a href="https://amdm.ru">amdm.ru</a>
</div>
</body>
</html>
