<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${authorName} + ' - ' + ${songName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 style="font-size:14pt" th:text="${authorName} + ' - ' + ${songName}"></h1>
<hr>
<div th:utext="${songText}"></div>
<hr>
<div><a th:href="@{{uri} (uri = ${authorUri})}"
        th:text="${authorName}"></a></div>
<br>
<div>
    Original content is taken from <a href="https://amdm.ru">amdm.ru</a>
</div>
</body>
</html>
